<h2><%=link_to '<My groups>', groups_path%> <%=@group.name%></h2><br/>


<h4>A venir !!</h4>

<%= link_to 'Update my group', edit_group_path(@group) %>
<!--| <%#= link_to 'Add a member', new_membership_path(@group) %>-->