<h1>Regular screen</h1>

<table width="100%" cellspacing="0">
  <caption><h2>Les 10 dernières opérations enregistrées</h2></caption>
  <tr>
 <th></th>
 <th> Alice </th>
 <th> Bob </th>
 <th> Charles </th>
  </tr>
  <tr>
    <th>loyer</th>
    <td><b>601.13</b></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th></th>
    <td><i>200.38</i></td>
    <td><i>200.38</i></td>
    <td><i>200.38</i></td>
  </tr>
  <tr>
    <th>courses</th>
    <td></td>
    <td><b>60</b></td>
    <td></td>
  </tr>
    <tr>
    <th></th>
    <td><i>20</i></td>
    <td><i>20</i></td>
    <td><i>20</i></td>
  </tr>
    <tr>
    <th>loyer du 25 décembre payé par Bob avec 2 pneus et 3 clous</th>
    <td></td>
    <td></td>
    <td><b>601.13</b></td>
  </tr>
    <tr>
    <th></th>
    <td><i>200.38</i></td>
    <td><i>200.38</i></td>
    <td><i>200.38</i></td>
  </tr>
<tr><th>Départ de Charles</th>
    <td></td>
    <td>180.37</td>
    <td>180.37</td>
</tr>
    <tr>
    <th class="bordure">Indivisible</th>
    <td class="bordure"><span class="negatif">-0.01</span></td>
    <td class="bordure"><span class="neutre">0</span></td>
    <td class="bordure"><span class="negatif">-0.01</span></td>
  </tr>
    <tr>
    <th>Solde</th>
    <td><span class="positif">180.37</span></td>
    <td><span class="negatif">-360.76</span></td>
    <td><span class="positif">180.37</span></td>
  </tr>
</table>


<br/><br/>
<%= link_to 'Retour', users_path %>