<h1>Blank screen</h1>

<table width="100%" cellspacing="0">
  <caption><h2>Les 10 dernières opérations enregistrées</h2></caption>
 <tr>
    <th class="bordure">Indivisible</th>
  </tr>
    <tr>
    <th>Solde</th>
  </tr>
</table>


<br/><br/>
<%= link_to 'Retour', users_path %>