<h2>Blank screen</h2>

<table width="100%" cellspacing="0">
  <caption><h3>Les 10 dernières opérations enregistrées</h3></caption>
 <tr>
    <th class="bordure">Indivisible</th>
  </tr>
    <tr>
    <th>Solde</th>
  </tr>
</table>


<br/><br/>
<%= link_to 'Retour', users_path %>