<div id="identification">
  <p align="right">Login :<input type="text"/><br/>
  Password :<input type="password"/><br/><br/>
  <button class="action_button">Go !</button>
  <button class="action_button">Nouvel utilisateur</button></p>
</div>