<h2>Regular screen</h2>

<table width="100%" cellspacing="0">
  <caption><h3>Les 10 dernières opérations enregistrées</h3></caption>
  <tr>
 <th></th>
 <th> Alice </th>
 <th> Bob </th>
 <th> Charles </th>
  </tr>
  <tr>
    <th>loyer</th>
    <td><b>601.13</b></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th></th>
    <td><i>200.38</i></td>
    <td><i>200.38</i></td>
    <td><i>200.38</i></td>
  </tr>
  <tr>
    <th>courses</th>
    <td></td>
    <td><b>60</b></td>
    <td></td>
  </tr>
    <tr>
    <th></th>
    <td><i>20</i></td>
    <td><i>20</i></td>
    <td><i>20</i></td>
  </tr>
    <tr>
    <th>loyer du 25 décembre payé par Bob avec 2 pneus et 3 clous</th>
    <td></td>
    <td></td>
    <td><b>601.13</b></td>
  </tr>
    <tr>
    <th></th>
    <td><i>200.38</i></td>
    <td><i>200.38</i></td>
    <td><i>200.38</i></td>
  </tr>
<tr><th>Départ de Charles</th>
    <td><i>0</i></td>
    <td><i>-180.38</i></td>
    <td><i>180.38</i></td>
</tr>
    <tr>
    <th class="bordure">Indivisible</th>
    <td class="bordure"><span class="positif">0</span></td>
    <td class="bordure"><span class="positif">0</span></td>
    <td class="bordure"><span class="positif">0</span></td>
  </tr>
    <tr>
    <th>Solde</th>
    <td><span class="positif">180.38</span></td>
    <td><span class="negatif">-180.38</span></td>
    <td><span class="positif">0</span></td>
  </tr>
</table>


<br/><br/>
<%= link_to 'Retour', interfaces_path %>