<h1>Un titre principal</h1>
<h2>Puis un titre secondaire</h2>
<h3>Encore un sous titre</h3>
<h4>toujours plus petit</h4>
<h5>On les a presque tous</h5>
<h6>Et voilà le dernier</h6>

<p>Ensuite un texte de paragraphe sur lequel on ne va pas s'embeter :
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>

Et si on a un texte qui veut pas aller dans un paragraphe ?

<ul>
  <li>Voyons une liste de ce style</li>
  <li>avec deux ou trois points</li>
  <li>disons 3</li>
</ul>

<ol>
  <li>et il faut aussi celle avec des chiffres</li>
  <li>bon deux points suffiront</li>
</ol>

<TABLE>
  <CAPTION> Voici le titre du tableau </CAPTION>
  <TR>
 <TH> Titre A1 </TH>
 <TH> Titre A2 </TH>
 <TH> Titre A3 </TH>
 <TH> Titre A4 </TH>
  </TR>
  <TR>
 <TH> Titre B1 </TH>
 <TD> Valeur B2 </TD>
 <TD> Valeur B3 </TD>
 <TD> Valeur B4 </TD>
  </TR>
</TABLE> 