
Libellé: <input type="text" size="100%"/><br/>
Montant: <input type="text"/><br/>
Pour: <SELECT name="nom" size="1">
<option>le groupe</option>
<OPTION>Alice</OPTION>
<OPTION>Bob</OPTION>
<OPTION>Charles</OPTION>
</SELECT><br/>
<button class="action_button">Valider</button>
<a href="">Annuler</a>


<br/><br/>
<%= link_to 'Retour', interfaces_path %>