<table width="100%" cellspacing="0">
  <caption><h3>Mes groupes</h3></caption>
  <tr>
 <th></th>
 <th> Groupe 1 </th>
 <th> Groupe B </th>
  </tr>
    <tr>
    <th class="bordure">Indivisible</th>
    <td class="bordure"><span class="negatif">-0.01</span></td>
    <td class="bordure"><span class="positif">0</span></td>
  </tr>
    <tr>
    <th>Solde</th>
    <td><span class="negatif">-180.38</span></td>
    <td><span class="positif">167.04</span></td>
  </tr>
  <tr>
    <th></th>
    <td><button class="action_button">Acceder</button></td>
    <td><button class="action_button">Acceder</button></td>
  </tr>
</table>


<br/><br/>
<%= link_to 'Retour', interfaces_path %>